<nav class="nav-bar">
  
  <div routerLink="/" routerLinkActive="active-link" style="cursor: pointer;" class="logo-section">
    <img src="assets/logo.png" alt="App Logo" class="app-logo" />
    <span class="app-title">QuickBite</span>
  </div>

  
  <div class="nav-links-center">
    <a routerLink="/dine" routerLinkActive="active-link">Dine</a>
    <a routerLink="/quick-order" routerLinkActive="active-link">Quick Order</a>
    <a routerLink="/favorites" routerLinkActive="active-link">Favorite</a>
    <a routerLink="/cart" class="nav-link"> 
      🛒 Cart ({{ getCartCount() }})
    </a>
    <a routerLink="/orders" routerLinkActive="active-link">Orders</a>
  </div>

  
  <div class="user-auth-section"> 
    
    <a *ngIf="!(isUserLoggedIn$ | async)" routerLink="/login" class="nav-link login-link">Login</a>

    
    <div class="user-menu-container" *ngIf="isUserLoggedIn$ | async">
      <button class="user-icon-button" (click)="toggleDropdown()" title="User Menu">
        👤 
      </button>
      
      <div class="dropdown-menu" *ngIf="isDropdownOpen">
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>
  </div> 

</nav>

<main (click)="closeDropdown()">
  <router-outlet></router-outlet>
</main>
